<div class="row">
  <div class="col-xs-12">
    <p>Add new server or blue prints</p>
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName" /> -->
    <input type="text" class="form-control" #serverInputName />
    <label>Server Content</label>
    <input type="text" class="form-control" #serverDescriptionInput />
    <br />
    <button (click)="addServer(serverInputName)" class="btn btn-primary">Add Server</button>
    <button (click)="addBluePrint(serverInputName)" class="btn btn-primary">Add Blue Print</button>
  </div>
</div>
