<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label>Account Name</label>
      <input type="text" class="form-control" #accountName />
    </div>
    <div class="form-group">
      <select class="form-control" #status>
        <option value="active">active</option>
        <option value="inactive">inactive</option>
        <option value="unknown">unknown</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="onAccountCreate(accountName.value, status.value)">Add Account</button>
  </div>
</div>
