<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary" [disabled]="recipeForm.invalid">Save</button>
          <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" formControlName="name" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="image-path">Image Url</label>
            <input id="image-path" type="text" class="form-control" formControlName="imagePath" #imagePath />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <img [src]="imagePath.value" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" type="text" class="form-control" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" formControlName="amount" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-danger" type="button" (click)="deleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary" (click)="onAddIngredient()">Add Ingredient</button>
        </div>
      </div>
    </form>
  </div>
</div>
